<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>한이음 빌라 게시판</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'board/css/board_list_style.css' %}">
</head>
<body>
  <header>
    <h6><img src="{% static 'board/img/주차마크.png' %}" width="40" height="40"> 주차의 달인</h6>
    <nav>
      <h2>
      <ul>
        <li><a href="#">홈</a></li>
        <li><a href="#">주변 주차장</a></li>
        <li><a href="#">마이페이지</a></li>
        <li><a href="#">로그아웃</a></li>
      </ul>
      </h2>
    </nav>
  </header>
  <main>
    <section class="intro">
    </section>
    <div class="container">
      <section class="bulletin-board">
        <h2> <img src="{% static 'board/img/게시판.png' %}" width="80" height="80"></h2>
        <h2>[ 게시판 ]</h2>
        {% if question_list %}
    <ul>
    {% for question in question_list %}
      <li><h4><a href="/posts/{{ question.id }}/">{{ question.subject }}</a></h4></li>
    {% endfor %}
    </ul>
{% else %}
        <h6><p>질문이 없습니다.</p></h6>
{% endif %}
      </section>
    </div>
  </main>
  <footer>
    <h4>
      <p>&copy; 2024 한이음 빌라 &nbsp;&nbsp; &phone;&nbsp; 010-xxxx-xxxx &nbsp;&nbsp; email: admin@example.com </p>
    </h4>
  </footer>
</body>
</html>
