<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한이음 빌라 마이페이지</title>
    {% load static %}
  <link rel="stylesheet" href="{% static 'mypage/css/mypage_style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap2.min.css' %}">
</head>
<body>
    <header>
        {% load static %}
        <h1>
            <img src="{% static 'mypage/img/주차마크.png' %}" width="40" height="40"> 주차의 달인</h1>
        <nav>
            <h2>
                <ul>
                    <li><a href="{% url 'home:index' %}">홈</a></li>
                    <li><a href="{% url 'parking_status:parking_status' %}">주차현황</a></li>
                    <li><a href="#">주변 주차장</a></li>
                    <li><a href="{% url 'login:logout' %}">로그아웃</a></li>
                </ul>
            </h2>
        </nav>
    </header>
    <main>
        <section class="profile">
            <div class="profile-header">
                <div class="profile-picture">
                    <img src="{% static 'mypage/img/프로필사진.png' %}" alt="프로필 사진">
                </div>
                <div class="profile-name">
                    <h2>{{ user.username }}</h2>
                    <button class="edit-profile">Edit Profile</button>
                </div>
            </div>
            <section class="update-details">
                <h2>Update Details</h2>
                <p>Fill in the required information.</p>
                <form>
                    <div>
                        <label for="first_name">성</label>
                        <input type="text" id="first_name" name="first_name" placeholder="Fill in your first_name" required>
                    </div>
                    <div>
                        <label for="last_name">이름</label>
                        <input type="text" id="last_name" name="last_name" placeholder="Fill in your last_name" required>
                    </div>
                    <div>
                        <label for="car_number">차량번호</label>
                        <input type="text" id="car_number" name="car_number" placeholder="Fill in your car_number" required>
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="eg.example@sample.com" required>
                    </div>
                    <button type="submit">Save Changes</button>
                </form>
            </section>
        </section>
    </main>
    <footer>
        <h4>
            <p>&copy; 2024 한이음 빌라 &nbsp;&nbsp; &phone;&nbsp; 010-xxxx-xxxx &nbsp;&nbsp; email: admin@example.com </p>
        </h4>
    </footer>
</body>
</html>
